<!DOCTYPE html>
<html lang="pt-BR">

{% include "parciais/head.html" %}

{% include "parciais/cabecalho.html" %}

<body>

    {% include "parciais/buscador.html" %}

    <main class="principal-conteudo-container">
        <div class="principal-conteudo-lista"></div>
        <div class="temp">senai</div>
        <div class="temp">senai</div>
        <div class="temp">senai</div>
        <div class="temp">d</div>
        <div class="temp">se</div>
        <div class="temp">senai</div>
        <div class="temp"></div>
        <div class="temp"></div>
        <div class="temp"></div>
        <div class="temp"></div>
        </div>
    </main>

</body>

</html>